body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#result {
    font-size: 24px;
    font-weight: bold;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

label, input {
    font-size: 18px;
    margin: 10px;
}
